#home{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/bg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding-top: 0;
    text-align: center;
    color: white;
    background-attachment: fixed;
}
h1{
    font-family: 'Carter One', cursive;
    font-size: 90px;
    padding-top: 10%;
}
.home-page p{
    font-family: monospace;
    font-size: 30px;
    padding-top: 5%;
    color: black;
}
.brand h3{
    font-family: 'Italianno', cursive;
}
h2{
    color: black;
    text-align: center;
}
#about{
    font-size: 20px;
    text-align: center;
}
#about li{
    list-style-type: none;
}
#about h3, #menu h3{
    color: black;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
#menu img {
    height: 200px;
}
.footer{
    background: #ee0928;
    color: #fffafa;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    padding-top: 15px;
}